#SERVER_HOST - адресс сервера
#SERVER_USER - пользователь
#SERVER_SSH_KEY  -   приватный ключ
name: Deploy Backend

on:
  push:
    branches: ["main"]     # деплой при пуше в main
  workflow_dispatch: {}    # ручной запуск

jobs:
  deploy:
    runs-on: ubuntu-latest

    env:
      REGISTRY: ghcr.io
      IMAGE: ghcr.io/${{ github.repository }}/app:latest
      TARGET_DIR: /opt/backend              # где на сервере будет проект
      SSH_HOST: ${{ secrets.SERVER_HOST }}
      SSH_USER: ${{ secrets.SERVER_USER }}
      SSH_KEY:  ${{ secrets.SERVER_SSH_KEY }}

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      # ---- СБОРКА И PUSH ОБРАЗА ----
      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Login to GHCR
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build & Push Docker image
        uses: docker/build-push-action@v6
        with:
          context: .
          file: ./Dockerfile
          push: true
          tags: ${{ env.IMAGE }}

      # ---- ПАКЕТ ДЛЯ СЕРВЕРА ----
      - name: Create deploy package
        run: |
          mkdir bundle
          cp docker-compose.yml bundle/
          # папка db если есть
          if [ -d db ]; then cp -r db bundle/; fi
          # .env если он хранится в Secrets
          if [ -n "${{ secrets.ENV_FILE }}" ]; then
            printf "%s" "${{ secrets.ENV_FILE }}" > bundle/.env
          fi
          tar -czf bundle.tgz -C bundle .

      # ---- ЗАЛИВКА НА СЕРВЕР ----
      - name: Upload package via SCP
        uses: appleboy/scp-action@v0.1.7
        with:
          host: ${{ env.SSH_HOST }}
          username: ${{ env.SSH_USER }}
          key: ${{ env.SSH_KEY }}
          source: "bundle.tgz"
          target: "/tmp"

      # ---- ЗАПУСК НА СЕРВЕРЕ ----
      - name: Deploy on server
        uses: appleboy/ssh-action@v1.2.0
        with:
          host: ${{ env.SSH_HOST }}
          username: ${{ env.SSH_USER }}
          key: ${{ env.SSH_KEY }}
          script: |
            set -e
            sudo mkdir -p $TARGET_DIR
            sudo tar -xzf /tmp/bundle.tgz -C $TARGET_DIR

            cd $TARGET_DIR
            sudo docker compose pull --ignore-pull-failures
            sudo docker compose up -d

            sudo docker compose ps

